* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    width: 800px;
    height: 200px;
    background-color: rebeccapurple;
    margin: 0 auto;
}
#judul{
    color:white ;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 70px;
}
#navbar{
    width: 800px;
    color: black;
    background-color: aqua;
    margin: 0 auto;
}
#navbar ul {
    list-style: none;
}
#navbar ul li {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
#content{
    width: 800px;
    margin: 0 auto;
    background: white;
}
#artikel{
    background: cornsilk;
    padding: 30px;
    font-size: 18px;
    width: 500px;
    float: left;
}
#sidebar{
    background: black;
    width: 300px;
    padding: 30px;
    float: right;
}
.clear{
    clear: both;
}
#footer{
    width: 800px;
    background: blue;
    margin: 0 auto;
    color: white;
    padding: 20px;
    text-align: center;
}